---
layout: default
title: Fred Cook
---

<header>
  <div id="switches">
    <i id="light-symbol" class="fa fa-moon-o"></i>
    <button id="light-switch" class="fa fa-toggle-off" aria-label="Toggle Dark Mode"></button>
  </div>
  <h1 id="title">Fred Cook</h1>
  <div style="flex-direction: row">
    <a class="button" href="https://github.com/fuverdred"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
    <a class="button" href="/CV.html">CV</a>
    <a class="button" href="mailto:fred@fredcook.co.uk"><i class="fa fa-envelope"></i></a>
  </div>
  <a href="#"></a>
  <a href="#about" id="down">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  </a>
</header>

<div class="container">
  <h3 id="about">About</h3>
  <p>Having finished a physics PhD I am looking to move into software development. Currently most proficient in Python, but with a background in C and learning Clojure.</p>
  <div class="projects">
    <h3>Projects</h3>
    {% assign projects = site.projects_collection | reverse %}
    {% for proj in projects limit:3 %}
      <div class="project">
        <h4>{{proj.date | date: "%b %d, %y" }}</h4>
        <h5>{{ proj.title }}</h5>
        <p>{{ proj.excerpt }}</p>
        <a class="button" href=" {{proj.url}} ">Read more</a>
      </div>
    {% endfor %}
    <a class="button button-primary" href="/projects">More projects...</a>
  </div>
</div>

<script src="/assets/javascript/scroller.js"></script>
{% include footer.html %}
