---
layout: default
title: Projects | Fred Cook
---
{% include header.html %}

<div class="container">
  <h1>Projects</h1>

  {% assign projects = site.projects_collection | reverse %}
  {% for proj in projects limit:3 %}
    <div class="project">
      <a href="{{proj.url}}"><h5>{{ proj.title }}</h5></a>
      {% if proj.img %}
        <div class="row">
            <div class="nine columns">
              <p>{{ proj.excerpt }}</p>
            </div>
            <img class="project_icon three columns" src="{{proj.img}}" alt="">
        </div>
      {% else %}
        <p>{{ proj.excerpt }}</p>
      {% endif %}
      <div style="overflow:auto; padding: 5px">
        <a class="button u-pull-right" href=" {{proj.url}} ">Read more</a>
      </div>
    </div>
  {% endfor %}
  {% for proj in projects offset:3 %}
    <a href="{{proj.url}}"><h5>{{ proj.title }}</h5></a>
  {% endfor %}

</div>

{% include footer.html %}
