<table class="xw_grid">
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_dark"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
  <tr>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
    <td><div class="xw_light"></div></td>
  </tr>
</table>