<div class="CV_page">
  <h1 class="name">Fred Cook</h1>
  <p><i class="icon fa fa-envelope"></i> fred@fredcook.co.uk</p>
  <p><i class="icon fa fa-github"></i> github.com/fuverdred</p>

  <hr style="height:3px">

  <p>Brief description about me here. Orange lad is the one true king, lad is love, lad is life.</p>

  <h3>Education</h3>
  <hr>

  <h4><b>PhD Physics </b><i>University of Bristol</i></h4>
  <p class=CV_duration>2016-Present</p>
  Submitted December 2020, awaiting viva date.<br>
  Thesis title: <i>Development of apparatus for ice nucleation studies.</i><br>
  The fundamentals of what makes a good ice nucleator remain poorly understood at the nanoscale.
In my PhD I developed three experimental methods:
<li>A novel way of automating a standard experimental technique (<a href="https://amt.copernicus.org/articles/13/2785/2020/">published</a>).</li>
<li>An updated version of an automated lag time apparatus (<a href="https://aip.scitation.org/doi/10.1063/1.1145586">ALTA</a>) for ice nucleation studies.</li>
<li>An environmental chamber for freezing acoustically levitated water droplets.</li>
<p>Some relevant highlights of my PhD work include:</p>
<li>A program for detecting freezing droplets from a series of images, including tracking the
movement of the droplets, written in Python using OpenCV.</li>
<li>Reverse engineering the instruction set for a picolitre droplet printer, allowing a custom labVIEW
program integrated with an X-Y translation stage to be written.</li>
<li>Python scripts for cleaning, analysing and graphing data using standard scientific libraries
(NumPy, SciPy and Matplotlib).</li>
<li>Programmed microcontrollers (Arduino and pyBoard) to read peripherals and control
  experiments.</li>

  <h4><strong>MSci Physics </strong><i>University of Bristol</i></h4>
  <p class=CV_duration>2012-2016</p>
  <p>First class honours.</p>

  <h4><strong>Alleyn's School</strong></h4>
  <p class=CV_duration>2005-2012</p>
  <p>A-levels: Physics A*, Maths A*, Economics A (AS-level Politics A)<br>
  GCSEs: 6A*, 3A, 1B</p>

  <h3>Software Development Skills</h3>
  <hr>
  <div style="width:100%">
  <div class="col-15">
    <p><i>Python 3</i></p>
  </div>
  <div class="col-85">
    <p>Four years of experience.<br>
Well versed in the standard scientific libraries: NumPy, SciPy, Matplotlib.
Personal projects include web-scraping scripts, a tool for creating themed cross-
words and a device for monitoring and controlling the pH of soil.</p>
  </div>
  </div>
  <div style="width:100%">
    <div class="col-15">
      <p><i>Other</i></p>
    </div>
    <div class="col-85">
      <p>Experience programming in C, knowledge of git and <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span></p>
    </div>
  </div>

  <h3>Publications</h3>
  <hr>
  <li>Cook et al., <a href="https://amt.copernicus.org/articles/13/2785/2020/">A pyroelectric thermal sensor for automated ice nucleation detection.</a>
(2020) Atmos. Meas. Tech. Disc. 13, 2785–2795</li>
  <li>Cook et al., An updated automated lag-time apparatus for ice nucleation studies.
Awaiting submission.</li>
</div>
