<div class="user-details">
  <h1> Featured Projects </h1>
</div>


{% for post in site.posts limit:2 %}
{% assign remainder = forloop.index | modulo: 2 %}

{% if remainder == 1 %}
  {% assign image_class = "images-right" %}
  {% assign content_class = "contents" %}
{% else %}
  {% assign image_class = "images-left" %}
  {% assign content_class = "contents-right" %}
{% endif %}

  <div class="user-projects">
    <div class={{image_class}}>
      <img src="{{post.image | prepend:site.baseurl}}" >
    </div>
    <div class={{content_class}}>
      <h3>{{post.title}}</h3>
      <p>{{ post.excerpt }}</p>
      <a class="project-link" href="{{post.url}}">Check it out</a>
    </div>
  </div>
{% endfor %}
