$bgcolour: lightblue;
$textcolour: darkblue;
$fontsize: 18px;

body {
  background-color: $bgcolour;
  color: $textcolour;
  font-size: $fontsize;
}

.current {
  color: green;
}

p {
  text-align: center;
  color: red;
}

#test {
  text-align: center;
  color: green;
}

#name {
  text-align: center;
  color: white;
}

#title-holder {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 5px;
}
