$bgcolour: black;
$textcolour: darkblue;
$fontsize: 18px;

body {
  background-color: $bgcolour;
  color: $textcolour;
  font-size: $fontsize;
}

.current {
  color: green;
}

p {
  text-align: center;
  color: red;
}

#test {
  text-align: center;
  color: green;
}
