.CV_background {
  background-color: #b0b6bf
}

.CV_canvas {
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0.6in;
  width: 8.5in;
  height: 12in;
  background-color: #fff
}

.CV_header {
  padding: 0;
  .name_container {
    float: right;
    width: 7.9in;
  }
  div {
    width: auto;
  }
  h1 {
    float: inherit;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.CV_timespan{
  float: right;
  background-color: black;
  width: 6cm;
  height: 1cm;
  
  h4 {
    padding: 0;
    margin: 0;
    color: white;
  }

}
