.CV_background {
  background-color: #b0b6bf
}

.CV_canvas {
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0.6in;
  width: 8.5in;
  height: 12in;
  background-color: #fff
}



.CV_header {
  padding: 0;
  .name_container {
    float: right;
    width: 7.9in;
  }
  div {
    width: auto;
  }
  h1 {
    float: inherit;
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.CV_entry {
  div {
    width: 100%;
    float: left;
    margin-top: 5px;
  }
  h2 {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
  }
  h4 {
    float: left;
    margin: 0.1cm;
    padding: 0.1cm;
  }
  .CV_entry_timespan {
    background-color: black;
    color: white;
    float: right;
    text-align: right;
    width: 3cm;
  }
  .CV_entry_details {
    padding-right: 0.5cm;
    padding-left: 0.5cm;
  }
  li {
    list-style-position: inside;
    padding-left: 1cm;
    padding-right: 1cm;
  }

}

td {
    vertical-align: text-top;
}

.CV_label {
  width: 4cm;
}
