.CV_page {
  color: black;
  font-size: 80%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 21cm;
  padding-right: 20px;
  padding-left: 20px;
  background: white;
}

.name {
  padding: 0;
  text-align: right;
}

.CV_page > h1, h4, p {
  margin: 0;
  padding: 0;
}

.CV_page > h3 {
  margin-top: 1px;
  margin-bottom: 0;
}

hr {
  border: 0;
  height: 2px;
  width: 100%;
  background-color: black;
}

.CV_duration {
  color: white;
  background-color: black;
  width: 2.5cm;
  padding-right: 5px;
  padding-left: 5px;
}

li {
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  list-style-position: inside;
}

b {
  font-weight: 900;
}

.col-15 {
  width: 100%;
  margin-top: 5px;
  clear: both;
}

.col-85 {
  width: 100%;
  margin-top: 5px;
}

.latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

@media only screen and (min-width: 15cm) {
  /* For big phones and up: */

  .CV_duration {
    float: right;
    text-align: right;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-15 {
    width: 15%;
    float: left;
  }

  .col-85 {
    width: 85%;
    float: right;
  }
}

@media only screen and (min-width: 21cm){
  .CV_page {
    height: 29.7cm;
    padding: $CV_margin;
  }
}
