.menu_bar {
  background-color: $main;
  margin-bottom: 0;
  overflow:hidden;
  width: 100%;
  text-align: center;
  padding: 0px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.btn-group h2 {
  background-color: $main; /* Green background */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: inline;
}

/* Add a background color on hover */
.btn-group h2:hover {
  background-color: $sec;
}
