.banner {
  height: 100vh;
  background-color: var(--clr-primary);
  color: var(--clr-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-bottom: 30px;
}

#down {
  color: var(--clr-foreground);
  position: absolute;
  top:85vh;
  padding: 20px;
  font-size: 2.5em;
}

#down:hover {
  cursor: pointer;
  opacity: 0.8;
}

#title {
  font-size: 7.0rem;
}

#switches {
    z-index: 5;
  font-size: 2.0rem;
  position: absolute;
  top: 5px;
  right: 10px;
}

#light-switch {
  padding: 0;
  margin: 0;
  color: var(--clr-highlight-2);
  height: auto;
  border: 0;
}

#light-switch:hover {
    background-color: transparent;
}

/* Larger than tablet */
@media (min-width: 750px) {
  #title {
    font-size: 10.0rem;
  }
}
