body {
  text-align: justify;
  background-color: var(--clr-background, red);
  color: var(--clr-foreground);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.button {
  color: var(--clr-foreground);
  background-color: transparent;
  border-color: var(--clr-foreground);
  max-width: 20%;
}

.button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: yellow;
}

.footer, .header {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--clr-primary);
  flex: none;
}

.project {
  margin: 10px 0px;
  padding: 0px 5px;
}

.project p {
  margin: 5px 0px;
}

img {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

code {
  border-width: 0;
  background-color: var(--clr-shaded);
}
