body {
  text-align: justify;
  background-color: var(--clr-background, red);
  color: var(--clr-foreground);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer, .header {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--clr-primary);
  flex: none;
}

.project {
  margin: 20px 0px;
  padding: 0px 5px;
}

img {
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
