.A4_page {
  background-color: var(--clr-background);
  margin: 0;
  width: 100%;
}

.A4_page h1,
.A4_page h4,
.A4_page h5,
.A4_page h6,
.A4_page p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0; }

.small li,
.small p {
  font-size: 1.0em;
}
.small h1 { font-size: 4.0rem; }
.small h2 { font-size: 3.5rem; }
.small h3 { font-size: 3.0rem; }
.small h4 { font-size: 2.4rem; }
.small h5 { font-size: 1.5rem; }
.small h6 { font-size: 1.0rem; }
.small hr {
  display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 3px black;
}

.A4_page li {
  margin: 0 0 0 10px;
  padding: 0 0 0 1em;
}

.duration {
  margin-top: 1px;
  padding: 1px 0px;
  background-color: var(--clr-foreground);
  color: var(--clr-background);
  text-align: center;
  border-radius: 8px;
  max-width: 100px; }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .duration {
    float: right; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .A4_page{
    max-width: 21cm;
    margin: 0 auto;}
}
