
.A4_page {
  background-color: var(--clr-background);
  margin: 0;
  width: 100%;
}

.A4_page h1,
.A4_page h4,
.A4_page h5,
.A4_page h6,
.A4_page p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0; }

.A4_page li {
  margin-left: 10px;
}

.duration {
  margin-top: 1px;
  padding: 1px 0px;
  background-color: var(--clr-foreground);
  color: var(--clr-background);
  text-align: center;
  border-radius: 8px;
  max-width: 100px; }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .duration {
    float: right; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .A4_page{
    max-width: 21cm;
    margin: 0 auto;}
}
